<div class="d-flex justify-content-center">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<h1> CAR FINDER </h1>
<% @cars.each do |car|%>
    <div class="card" >
        <% if car.pictures.first %>
            <%= image_tag car.pictures.first%>
        <% end %>
        <div class="card-body">
            <p class="card-text">
            <%= car.model%> <%= car.make%>
            </p>
            <p>
            $<%= car.price%>
             <%= link_to 'Explore', car_path(car.id), class:"btn btn-primary" %>

            </p>
        </div>
    </div>
<% end %>
